# Converting SPI Values to Admin 1 and Admin 2

In [1]:
%load_ext jupyter_black
import os
from pathlib import Path
import pandas as pd
import geopandas as gpd

In [2]:
data_dir = Path(os.getenv("HAM_DIR")) / "precipitation/"
shp_dir = Path(os.getenv("AA_DATA_DIR")) / "public/raw/ner/cod_ab/ner_cod_ab/"

In [3]:
ner_shp_adm0 = gpd.read_file(shp_dir / "adm0.shp.zip")
ner_shp_adm1 = gpd.read_file(shp_dir / "adm1.shp.zip")
ner_shp_adm2 = gpd.read_file(shp_dir / "adm2.shp.zip")

ner_spi = pd.read_csv(data_dir / "SPIdatafile.csv")

In [4]:
ner_shp_adm0.total_bounds

array([ 0.16625  , 11.69697  , 15.99564  , 23.5331862])

In [28]:
ner_spi[(ner_spi["Time"] == "Jan-Feb 1981") & (ner_spi["Latitude"] == "11.025N")]

,Time,Longitude,Latitude,Standardized Precipitation Index,Lon,Lat
0,Jan-Feb 1981,0.0249939E,11.025N,NaN,0.0249939,11.025
500,Jan-Feb 1981,0.07499389E,11.025N,NaN,0.07499389,11.025
1000,Jan-Feb 1981,0.1249939E,11.025N,NaN,0.1249939,11.025
1500,Jan-Feb 1981,0.1749939E,11.025N,NaN,0.1749939,11.025
2000,Jan-Feb 1981,0.2249939E,11.025N,NaN,0.2249939,11.025
...,...,...,...,...,...,...
157500,Jan-Feb 1981,15.77499E,11.025N,NaN,15.77499,11.025
158000,Jan-Feb 1981,15.82499E,11.025N,NaN,15.82499,11.025
158500,Jan-Feb 1981,15.87499E,11.025N,NaN,15.87499,11.025
159000,Jan-Feb 1981,15.92499E,11.025N,NaN,15.92499,11.025
159500,Jan-Feb 1981,15.97499E,11.025N,NaN,15.97499,11.025

Point values could be converted to raster values.
This is done where all touched cells are used.
However, if using centroid in region, there is no need to.

In [23]:
len(ner_spi["Latitude"].unique())
len(ner_spi["Longitude"].unique())

321

In [26]:
ner_spi["Lon"] = [str[:-1] for str in ner_spi["Longitude"]]
ner_spi["Lat"] = [str[:-1] for str in ner_spi["Latitude"]]

In [27]:
ner_spi

,Time,Longitude,Latitude,Standardized Precipitation Index,Lon,Lat
0,Jan-Feb 1981,0.0249939E,11.025N,NaN,0.0249939,11.025
1,Feb-Mar 1981,0.0249939E,11.025N,NaN,0.0249939,11.025
2,Mar-Apr 1981,0.0249939E,11.025N,NaN,0.0249939,11.025
3,Apr-May 1981,0.0249939E,11.025N,NaN,0.0249939,11.025
4,May-Jun 1981,0.0249939E,11.025N,NaN,0.0249939,11.025
...,...,...,...,...,...,...
24089914,Jul-Aug 2015,8.974992E,18.525N,1.741987,8.974992,18.525
24089915,Aug-Sep 2015,8.974992E,18.525N,1.664330,8.974992,18.525
24089916,Sep-Oct 2015,8.974992E,18.525N,0.995108,8.974992,18.525
24089917,Oct-Nov 2015,8.974992E,18.525N,-0.091835,8.974992,18.525
24089918,Nov-Dec 2015,Insufficient memory to allocate Fortran RTL me...,message #41 = hex 00000029.,NaN,Insufficient memory to allocate Fortran RTL me...,message #41 = hex 00000029

In [ ]:
phl_rwi_gdf = gpd.GeoDataFrame(
    phl_rwi, geometry=gpd.points_from_xy(phl_rwi.longitude, phl_rwi.latitude)
)