# Converting SPI Values to Admin 1 and Admin 2

In [1]:
%load_ext jupyter_black
import os
from pathlib import Path
import pandas as pd
import geopandas as gpd

In [9]:
data_dir = Path(os.getenv("HAM_DIR")) / "precipitation/"
shp_dir = Path(os.getenv("AA_DATA_DIR")) / "public/raw/ner/cod_ab/ner_cod_ab/"

In [10]:
ner_shp_adm0 = gpd.read_file(shp_dir / "adm0.shp.zip")
ner_shp_adm1 = gpd.read_file(shp_dir / "adm1.shp.zip")
ner_shp_adm2 = gpd.read_file(shp_dir / "adm2.shp.zip")

ner_spi = pd.read_csv(data_dir / "SPIdatafile.csv")

In [8]:
ner_shp_adm0.total_bounds

array([ 0.16625  , 11.69697  , 15.99564  , 23.5331862])

In [12]:
ner_spi.head(10)

           Time   Longitude Latitude  Standardized Precipitation Index
0  Jan-Feb 1981  0.0249939E  11.025N                               NaN
1  Feb-Mar 1981  0.0249939E  11.025N                               NaN
2  Mar-Apr 1981  0.0249939E  11.025N                               NaN
3  Apr-May 1981  0.0249939E  11.025N                               NaN
4  May-Jun 1981  0.0249939E  11.025N                               NaN
5  Jun-Jul 1981  0.0249939E  11.025N                               NaN
6  Jul-Aug 1981  0.0249939E  11.025N                               NaN
7  Aug-Sep 1981  0.0249939E  11.025N                               NaN
8  Sep-Oct 1981  0.0249939E  11.025N                               NaN
9  Oct-Nov 1981  0.0249939E  11.025N                               NaN